.actions{
    visibility: visible;
  
}
.word-options {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    padding: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 12px;
    top: 0;
    left: 0;

   
  
}
.word-options button{
    background:none;
    color: white;
    border: none;
    height: 32px;
    padding: 10px 15px 10px 15px;
    outline: none;

}
.word-options button :hover{
    border-radius: 1px solid aqua;
}

.dLtxrF {
    position: absolute;
    left: 268px;
    top: 271px;
    width: 160px;
    height: 200px;
    box-sizing: border-box;
    padding: 4px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 12px;
    z-index: 10;
}
.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 100px;
    color: white;
    font-size: 12px;
    background-color: #192733;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
  }
  
  .hover-text::selection .tooltip-text {
    visibility: visible;
  }
  
  #top {
    top: -40px;
    left: -50%;
  }
  
  #bottom {
    top: 25px;
    left: -50%;
  }
  
  #left {
    top: -8px;
    right: 120%;
  }
  
  #right {
    top: -8px;
    left: 120%;
  }
  
  .hover-text {
    position: relative;
    display: inline-block;
    margin: 40px;
    font-family: Arial;
    text-align: center;
  }