
/* Sidebar CSS */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sidebar{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: start;

    background-color: #c2b19b;
}
.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background:none;
    color: white;
}
.menu-bars:hover{
    color: #d0c5ba;
}
.side-menu{
    background-color: #c2b19b;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;

}

.side-menu.active{
    left: 0;
    transition: 350ms;
}

.side-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}
.side-text a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}
.side-text a:hover{
    background-color: #a18a75;
}
.side-text a .user
{
    padding: 0;
    
    align-items: start;

}

.side-menu-items{
    width: 100%;
    padding: 0;
    background-color: #8a6d52;

}
.sidebar-toggle{
    background-color: #8a6d52
    ;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}
span{
    margin-left: 16px;
}

.upload{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;

}
.upload-btn a{
    background-color: #ad9986;
}